@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Emoji API Home";
}
<h2>Index</h2>

<p>Hello EmojiAPI! @ViewData["test"]</p>